* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary-color: #c2c2c2;
$completed-color: #9595955c;
$yellow: #ffb304;
$green: #1fd19f;
$red: #fd6c6b;

$box-shadow: 5px 5px 10px 2px #00000050;

%box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: 10px;
    margin: 40px 0;
}

.todo-app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    //
    margin: 20px 10%;
    max-width: 1100px;
}

.todo-form {
    @extend %box;
    align-items: center;
}

.todo-list {
    @extend %box;
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__card {
        @extend %box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        order: -1;
        &--completed {
            order: 1;
            background-color: $completed-color;
        }
    }
}

.btn {
    background-color: $primary-color;
    border: none;
    border-radius: 10px;
    color: fff;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        opacity: 70%;
    }
    &--green {
        background-color: $green;
    }
    &--yellow {
        background-color: $yellow;
    }
    &--red {
        background-color: $red;
    }
}
.icon {
    font-size: 1.5rem;
}
